.hero{
    padding-block-start: 16px;
    padding-block-end: 16px;
}

.hero-img{
    text-align: center;
    margin-bottom: 16px;
}

.hero-img img{
    width: 100%;
    height: auto;
}

.hero-description{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-social{
    padding-bottom: 24px;
}

.hero h1{
    font: var(--headline3);
    margin: 0;
}

.hero h1 span:first-of-type{
    font: var(--headline5);
    display: block;
}

@media screen and (min-width: 380px){
    .hero-img img{
        width: 328px;
        height: 330.62px;
    }
}

@media screen and (min-width: 768px){
    .hero{
        display: flex;
        align-items: center;
        gap: 32px;
    }
    .hero-description{
        order: 1;
        max-width: 450px;
    }
    .hero-img{
        text-align: end;
        flex: 1;
        order: 2;
    }
}

@media screen and (min-width: 1024px){
    .hero-img img{
        width: 500px;
        height: 504px;
    }
}