.presentacion{
    text-align: center;
    padding: 40px 0;
}

.presentacion .testimonios{
    font: var(--headline5);
    max-width: 900px;  
    margin: auto;  
}

.presentacion .proyec-description{
    font: var(--description);
    margin: 0 0 24px 0;
    max-width: 900px;
    margin: auto;
}

/* CSS de proyectos y testimonio */

.proyectos-items{
    padding-top: 40px;
}

.img-proyecto{
    text-align: center;
}

.img-proyecto img{
    width: 100%;
    height: auto;
}

.proyecto-contenido{
    padding-top: 40px;
    padding-bottom: 40px;
}

.info-proyecto{
    font: var(--body1);
}

.button-contenedor{
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    gap: 16px;
}


.enlace-fijo{
    text-decoration: none;
    font: var(--headline5);
    color: var(--white);
    padding: 4px 8px ;
    background: var(--purple);
    box-shadow: -4px 4px 0 #ffffff;
}

/* Css testimonio*/

.testimonio{
    background: rgba(255, 255, 255, .2);
    border-radius: 24px;
    padding: 24px;
    margin: 40px 0 80px 0;
}

.img-testimonio{
    text-align: center;
}

.description-testi{
    margin: 24px 0;
    font: var(--oxigen2);
}

.cita{
    font: var(--caption);
    margin: 24px 0 0 0;
}

@media screen and (min-width: 380px){
    .img-proyecto.macbook img{
        width: 327.66px;
        height: 197px;
    }

    .img-proyecto.ipad  img{
        width: 328.75px;
        height: 322px;
    }
    .img-proyecto.iphone img{
         width: 302px;
         height: 536px ;
    }
}

@media screen and (min-width: 768px){

    .presentacion{
        padding: 200px 0;
    }

    .presentacion .proyec-description{
        font: var(--oxigen);
    }

    .items-proyecto{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .img-proyecto{
        flex: 1;
    }

    .proyecto-contenido{
        flex: 1;
    }

    .items-proyecto .left{
        order: 2;
    }

    .button-contenedor{
        flex-direction: row;
    }

    .button-contenedor button{
        width: 168px;
        height: 49px;
    }

    .items-proyecto{
        padding: 100px 0;
    }

    /*Testimonios*/
    .testimonio{
        text-align: center;
        padding: 80px;
    }
    .description-testi{
        font: var(--oxigen3);
    }

    .cita{
        font: var(--headline5);
    }
    .img-testimonio img{
        width: 80px;
        height: 80px;
    }
}

@media screen and (min-width: 860px){
    .enlace-fijo{
        font: var(--headline4);
    }
}

@media screen and (min-width: 1124px){
    .img-proyecto.macbook img{
        width: 637px;
        height: 392px;
        object-fit: cover;
    }

    .img-proyecto.ipad  img{
        width: 638px;
        height: 628px;
    }
    .img-proyecto.iphone img{
         width: 302px;
         height: 536px ;
    }
}